<div class="ranking">
  <div style="text-align: center;">
    <h2>共感数ランキング　1週間編</h2>
    <div>
      <th><%= link_to "共感数ランキング　１週間編", sympathy_ranking_in_past_week_mypage_profile_ranking_path, class: "btn btn-primary" %></th>
      <th><%= link_to "共感数ランキング　１ヶ月編", sympathy_ranking_in_past_month_mypage_profile_ranking_path, class: "btn btn-primary" %></th>
      <th><%= link_to "共感数ランキング　総合編", sympathy_ranking_mypage_profile_ranking_path, class: "btn btn-primary" %></th>
    </div>
    <div style="text-align: center;">
      <table style="margin: 0 auto;">
        <tr>
          <th>順位</th>
          <th>ユーザー名</th> 
          <th>1週間に獲得した共感の累計数</th>
        </tr>
        <% @user_sympathy_ranks_in_past_week.each.with_index(1) do |user, i| %>
          <% if i == 1 %>
            <tr>
              <td><%= image_tag("gold_crown.png", size: "48x48") %><%= i %>位</td>
              <td><%= user.name %></td>
              <td><%= user.total_sympathy_counts_in_past_week %></td>
            </tr>
          <% elsif i == 2 %>
            <tr>
              <td><%= image_tag("silver_crown.png", size: "48x48") %><%= i %>位</td>
              <td><%= user.name %></td>
              <td><%= user.total_sympathy_counts_in_past_week %></td>
            </tr>
          <% elsif i == 3 %>
            <tr>
              <td><%= image_tag("bronze_crown.png", size: "48x48") %><%= i %>位</td>
              <td><%= user.name %></td>
              <td><%= user.total_sympathy_counts_in_past_week %></td>
            </tr>
          <% else %>
            <tr>
              <td><%= i %>位</td>
              <td><%= user.name %></td>
              <td><%= user.total_sympathy_counts_in_past_week %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>
