<%= form_with model: [@diary, @happy_diagnosis], url: diary_happy_diagnosis_path(diary_id: @diary.id), data: { turbo_method: :post } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :question1 do %>
      質問1　経済的に安定している。
      <br>
      <%= f.check_box :question1, {}, true, false %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :question2 do %>
      質問2　人間関係は充実している。
      <br>
      <%= f.check_box :question2, {}, true, false %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :question3 do %>
      質問3　人生は面白いと思う。
      <br>
      <%= f.check_box :question3, {}, true, false %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :question4 do %>
      質問4　社会的な居場所がある。
      <br>
      <%= f.check_box :question4, {}, true, false %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :question5 do %>
      質問5　あまり、イライラしない。または、怒らない。
      <br>
      <%= f.check_box :question5, {}, true, false %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :question6 do %>
      質問6　自分を肯定できる。
      <br>
      <%= f.check_box :question6, {}, true, false %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :question7 do %>
      質問7　没頭できるものがある。
      <br>
      <%= f.check_box :question7, {}, true, false %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :question8 do %>
      質問8　仕事や勉強などにやりがいを感じる。
      <br>
      <%= f.check_box :question8, {}, true, false %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :question9 do %>
      質問9　何事にも感謝の気持ちを持てる。
      <br>
      <%= f.check_box :question9, {}, true, false %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :question10 do %>
      質問10　夢や目標がある。
      <br>
      <%= f.check_box :question10, {}, true, false %>
    <% end %>
  </div>

  <%= f.submit "幸福度診断を終えて、日記を投稿する" %>
<% end %>